.wizard-Wizard {
  background-color: white;
  position: relative;
}

.wizard-Wizard .wizard-Close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.wizard-Wizard .wizard-Close button {
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

.wizard-Wizard .wizard-Close button:hover {
  cursor: pointer;
}

.wizard-Wizard .wizard-Close button:after {
  content: "\00d7";
}

.wizard-Buttons {
  border-top: 1px solid #e2e1e1;
}

.wizard-Buttons:after {
  content: " ";
  display: table;
  clear: both;
}

.wizard-Buttons > div {
  padding: 10px 30px;
  text-align: right;
}

.wizard-Buttons button + button {
  margin-left: 10px;
}
